.hero {
    height: 100%;
    display: flex;
    max-width: 1320px;
    width: 100%;
    justify-content: space-between;
}

.main_section {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;

    .title {
        font-size: 4rem;
        font-weight: 600;
    }

    .description {
        color: rgba(255, 255, 255, 0.5);
        border-left: 1px solid white;
        padding-left: 20px;
    }

}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.reg_btn {
    background-color: white;
    color: rgba(7, 48, 93, 1);
    border: 1px solid white;

    .vector {
        border-left: 1px solid rgba(7, 48, 93, 1);

    }
}

.free_btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;

    .vector {
        border-left: 1px solid white;

    }
}

.info {
    display: flex;
    max-width: 622px;
    justify-content: space-between;
    margin-top: 50px;

    div {
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-left: 1px solid white;
        padding-left: 20px;

        span {

            width: 180px;
            color: rgba(255, 255, 255, 0.5);
        }

        p {
            font-weight: 600;
            font-size: 2.5rem;
        }
    }
}




@media screen and (max-width: 1145px) {
    .main_section {

        flex-direction: column;
        gap: 35px;
        margin-top: 40px;

        .title {
            font-size: 3.5rem;
        }

    }

    .buttons {
        gap: 10px;
    }


}

@media screen and (max-width: 1040px) {


    .main_section {

        gap: 30px;
        margin-top: 30px;

        .title {
            font-size: 3rem;
        }

        .description {
            padding-left: 10px;
        }

    }

    .info {


        margin-top: 45px;

        div {
            gap: 10px;

            p {
                font-weight: 600;
                font-size: 2.3rem;
            }
        }
    }
}

@media screen and (max-width: 915px) {

    .main_section {

        gap: 40px;
        margin-top: 30px;

        .title {
            font-size: 2.7rem;
        }

        .description {
            padding-left: 10px;
            font-size: .9rem;
        }

    }

    .info {


        margin-top: 25px;

        div {
            gap: 10px;
            padding-left: 10px;

            p {
                font-weight: 600;
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .buttons{
        gap: 20px;
    }
    .main_section {
        .buttons {
            width: 290px;
        }

        gap: 40px;
        margin-top: 25px;

        .title {
            font-size: 2.5rem;
        }

        .description {
            padding-left: 10px;
            font-size: .9rem;
        }

    }

    .info {
        

        div {
            gap: 10px;
            padding-left: 10px;

            span {
                font-size: .8rem;
            }

            p {
                font-weight: 600;
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .buttons{
        gap: 20px;
    }
    .main_section {
        z-index: 5;
        .buttons {
            width: 290px;
        }

        gap: 40px;
        margin-top: 25px;

        .title {
            font-size: 2.5rem;
        }

        .description {
            padding-left: 10px;
            font-size: .9rem;
        }

    }
    .mentor_img{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 600px;
    }
    .info {
        position: absolute;
        bottom: 30px;

        div {
            gap: 10px;
            padding-left: 10px;

            span {
                font-size: .8rem;
            }

            p {
                font-weight: 600;
                font-size: 1.5rem;
            }
        }
    }
    
}