.header {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    height: 60px;
    align-items: center;
}



.nav {
    max-width: 608px;
    width: 100%;
    font-weight: 400;
    font-size: 0.875rem;

    .list {
        display: flex;
        justify-content: space-between;

        .list_item {
            list-style-type: none;
        }
    }
}




.call {
    display: flex;
    align-items: center;
    gap: 20px;

    .menu {
        display: none;
    }

    .call_image {
        height: 40px;
    }

    .call_number {
        font-weight: 600;
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 1145px) {


    .nav {

        font-size: 0.875rem;

        .list {

            justify-content: space-around;

        }
    }


    .call_number {
        display: none;
    }

}

@media screen and (max-width:960px) {
    .call {

        .menu {
            display: block;
        }


    }

    .nav {
        display: none;
    }
}