.checkboxContainer {
    font-size: 1rem;
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: #eeeeee00;
    border: 1px solid #ccc;
}

.checkboxContainer input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxContainer input:checked~.checkmark:after {
    display: block;
}


.checkmark:after {
    left: 10px;
    top: 0px;
    width: 15px;
    height: 30px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}